#map_scene {
    width: 384px;
    height: 128px;
    border: 1px solid black;
    box-shadow: 10px 10px;	
    overflow: none;
    position: relative; 
}

#bgimg {
    width: 416px;
    height: 128px;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#floor_map {
    position: absolute;
    bottom: 10px;
    left: 32px;
}

img {
    image-rendering: pixelated;
}
.plyr_spot {
    width: 32px;
    height: 32px;
    z-index: 1;
}

.Ladder {
    width: 32px;
    height: 32px;
    z-index: 1;
    background-color: #000000;
}

.Nothing {
    width: 32px;
    height: 32px;
    z-index: 1;
}

.Chest{
    width: 32px;
    height: 32px;
    z-index: 1;
}

.Barrel {
    width: 32px;
    height: 32px;
    z-index: 1;
}

#health {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-color: blue;
}

#weapon {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-color: green;
}

#armour {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-color: red;
}

#bg {
    position: fixed;
    top: 0;
    right: 0;
    background-repeat: repeat;
    z-index: -1;
    background-size: 16px 16px;
}

#terminal_border {
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 3px solid black;
    pointer-events: none;
    background-color: #ffffff;
    z-index: -1;
}
body {
    padding: 12px;
}

.tower_test {
    content: url("../img/tower/room.png");
}


.player {
    content: url("../img/npc/sprite_tiny.png");
}

.Nothing {
    width: 32px;
    height: 32px;
    content: url("../img/obj/none.png");
}

.Nothing.undefined {
    width: 32px;
    height: 32px;
    content: url("../img/obj/none.png");
}

.Door.undefined {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_door_1.png");
}

.Nothing.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/none.png");
}

.Nothing.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/none.png");
}

.Nothing.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/none.png");
}

.Chest.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_chest.png");
}

.Chest.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_chest_opened.png");
}

.Chest.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Barrel.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_barrels.png");
}

.Barrel.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_barrels_opened.png");
}

.Barrel.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Anvil.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_anvil.png");
}

.Anvil.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_anvil.png");
}

.Anvil.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Bookshelf.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_bookshelf.png");
}

.Bookshelf.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_bookshelf.png");
}

.Bookshelf.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Clock.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_clock.png");
}

.Clock.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_clock.png");
}

.Clock.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Dresser.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_dresser.png");
}

.Dresser.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_dresser.png");
}

.Dresser.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Wardrobe.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_dresser_mirror.png");
}

.Wardrobe.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_dresser_mirror.png");
}

.Wardrobe.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Fireplace.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_fireplace.png");
}

.Fireplace.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_fireplace.png");
}

.Fireplace.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Globe.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_globe.png");
}

.Globe.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_globe.png");
}

.Globe.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Guillotine.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_guillotine.png");
}

.Guillotine.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_guillotine.png");
}

.Guillotine.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Keg.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_keg.png");
}

.Keg.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_keg.png");
}

.Keg.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Lecturn.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_lecturn.png");
}

.Lecturn.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_lecturn.png");
}

.Lecturn.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Telescope.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_li_recon_icon.png");
}

.Telescope.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_li_recon_icon.png");
}

.Telescope.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Vase.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_li_water_icon.png");
}

.Vase.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_li_water_icon.png");
}

.Vase.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Mirror.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_mirror.png");
}

.Mirror.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_mirror.png");
}

.Mirror.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Pillar.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_pillar_flame_2.png");
}

.Pillar.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_pillar_flame_2.png");
}

.Pillar.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Table.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_small_desk_with_vase.png");
}

.Table.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_small_desk_with_vase.png");
}

.Table.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Pillory.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_pillory.png");
}

.Pillory.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_pillory.png");
}

.Pillory.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}

.Stove.Closed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_stove.png");
}

.Stove.Open {
    width: 32px;
    height: 32px;
    content: url("../img/obj/sprite_stove.png");
}

.Stove.Smashed {
    width: 32px;
    height: 32px;
    content: url("../img/obj/smashed.png");
}